<div class="sidebar" data-color="purple" data-background-color="white" data-image="/assets/img/sidebar-1.jpg">
    <div class="logo"><a href="/" class="simple-text logo-normal">
        Relacionamiento
      </a></div>
    <div class="sidebar-wrapper">
      <ul class="nav">
        <li class="nav-item active">
          <a class="nav-link" href="/">
            <i class="material-icons">dashboard</i>
            <p>Inicio</p>
          </a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="/edcontinua">
            <i class="material-icons">person</i>
            <p>Educación Continua</p>
          </a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="/Asesorias">
            <i class="material-icons">content_paste</i>
            <p>Asesorias y Consultorias</p>
          </a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="/Convenios">
            <i class="material-icons">library_books</i>
            <p>Convenios</p>
          </a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="/Psocial">
            <i class="material-icons">bubble_chart</i>
            <p>Proyección Social</p>
          </a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="/Indicadores">
            <i class="material-icons">location_ons</i>
            <p>Indicadores</p>
          </a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="/notificaciones">
            <i class="material-icons">notifications</i>
            <p>Notifications</p>
          </a>
        </li>
        <li class="nav-item active-pro ">
          <a class="nav-link" href="/upgrade.html">
            <i class="material-icons">unarchive</i>
            <p>Carga de Datos</p>
          </a>
        </li>
      </ul>
    </div>
  </div>